* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    background-color: orange;

    border: 2px solid black;
}

i {
    color: white;
}

.container-main {
    display: flex;
    max-width: 1080px;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 0 auto;

    border: 2px solid red;
}

figure {
    padding: 5px;
    padding-bottom: 10px;
}

img {
    max-width: 300px;
}

footer {
    display: flex;
    padding: 0 20px;
    margin: 0 auto;
    background-color: rgb(26, 25, 25);
    color: white;
}